* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
}

.container-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    background-color: #79cb15;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    width: 110px;
}

button:hover {
    opacity: 0.8;
}

ul{
    list-style: none;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

li {
    border: 2px solid #fff;
    border-radius: 5px;
    width: 200px;
    height: 280px;
}

img {
    width: 100%;
    height: 70%;
}

p {
    color: #fff;
    text-align: center;
    font-weight: bold;
}

.price {
    color: #79cb15;
    font-weight: bold;
}